<section class="form-section">
  <div class="text">
    <h3>
      Fique por dentro das tendências
    </h3>
    <p>Nossa equipe de desenvolvimento de software é exemplar. Com expertise técnica, colaboração efetiva e compromisso com a qualidade, eles enfrentam desafios com criatividade e resiliência. Adaptáveis e dedicados, entregam resultados excepcionais em cada projeto.</p>
  </div>
  <form [formGroup]="newsletterForm">
    <label for="name">Nome</label>
    <input id="name" formControlName="name"/>
    <label for="email">Email</label>
    <input id="email" formControlName="email"/>
    <btn-primary
    btn-text="se inscreva"
    variant="secondary"
    (submit)="onSubmit()"
    [disabled]="!newsletterForm.valid"
    [loading]="loading()"
    ></btn-primary>
  </form>
</section>
